button.btn.btn-default.navbar-btn('[routerLink]'='["/AdminRouter", "Floors"]')
   span.glyphicon.glyphicon-align-justify
   | #{' '} Floors List
button.btn.btn-default.navbar-btn('[routerLink]'='["/AdminRouter", "Workers"]')
   span.glyphicon.glyphicon-th-list
   | #{' '} Workers List
