ul.nav.navbar-nav.navbar-right
   li: a Add:
   li: a('(click)'='changeType("seat")')
      span.glyphicon.glyphicon-home
      | #{' '} Seat
   li: a('(click)'='changeType("wall")')
      span.glyphicon.glyphicon-modal-window
      | #{' '} Wall
   li: a('(click)'='changeType("tower")')
      span.glyphicon.glyphicon-tower
      | #{' '} Tower
