.btn-group
   button.btn.btn-default.navbar-btn('[routerLink]'='["/AdminRouter", "Floors"]')
      span.glyphicon.glyphicon-ban-circle
      | #{' '} Floors
   button.btn.btn-default.navbar-btn
      span.glyphicon.glyphicon-ban-circle
      | #{' '} Workers

