button.btn.btn-default.navbar-btn('[routerLink]'='["/AdminRouter", "Floors", "FloorsList"]')
   span.glyphicon.glyphicon-align-justify
   | #{' '} Floors
button.btn.btn-default.navbar-btn('[routerLink]'='["/AdminRouter", "Workers", "WorkersList"]')
   span.glyphicon.glyphicon-th-list
   | #{' '} Workers
button.btn.btn-default.navbar-btn('[routerLink]'='["/AdminRouter", "Rooms", "RoomsList"]')
   span.glyphicon.glyphicon-th-list
   | #{' '} Rooms
