button.btn.btn-default.navbar-btn('[routerLink]'='["/AdminRouter", "Floors", "FloorList"]')
   span.glyphicon.glyphicon-align-justify
   | #{' '} Floors
button.btn.btn-default.navbar-btn('[routerLink]'='["/AdminRouter", "Workers", "WorkerList"]')
   span.glyphicon.glyphicon-th-list
   | #{' '} Workers
button.btn.btn-default.navbar-btn('[routerLink]'='["/AdminRouter", "Rooms", "RoomList"]')
   span.glyphicon.glyphicon-th-list
   | #{' '} Rooms


a.btn.btn-default.navbar-btn(href='/logout')
   span.glyphicon.glyphicon-th-list
   | #{' '} Logout
