toolbar.navbar.navbar-default.navbar-fixed-top
	.container
		.nav.navbar-nav.btn-toolbar
			admin-toolbar.btn-group

.container
	floor-form('[floor]'='floor', '[create]'='true', '(complete)'='onComplete($event)')

