button.btn.btn-default.navbar-btn('(click)'='changeAction(actions.NONE)', '[class.active]'='action === actions.NONE')
   span.glyphicon.glyphicon-ban-circle
   | #{' '} Do Nothing
button.btn.btn-default.navbar-btn('(click)'='changeAction(actions.ADD_SEAT)', '[class.active]'='action === actions.ADD_SEAT')
   span.glyphicon.glyphicon-home
   | #{' '} Point a Seat
button.btn.btn-default.navbar-btn('(click)'='changeAction(actions.ADD_WORKER)', '[class.active]'='action === actions.ADD_WORKER')
   span.glyphicon.glyphicon-modal-window
   | #{' '} Attach Worker
button.btn.btn-default.navbar-btn('(click)'='changeAction(actions.ADD_ROOM)', '[class.active]'='action === actions.ADD_ROOM')
   span.glyphicon.glyphicon-tower
   | #{' '} Attach Room
