toolbar.navbar.navbar-default.navbar-fixed-top
	.container
		.nav.navbar-nav.btn-toolbar
			admin-toolbar.btn-group

.container
	.media('*ngFor'='#floor of floors')
		.media-left
			img.media-object(src='http://placehold.it/64x64')
		.media-body
			h4.media-heading {{floor.number}}
			.btn-group
				a.btn.btn-info('[routerLink]'='["/AdminRouter", "Floors", "FloorConfigure", { floor: floor.number }]') Configure
				a.btn.btn-warning('[routerLink]'='["/AdminRouter", "Floors", "FloorEdit", { floor: floor.number }]') Edit
				a.btn.btn-danger('(click)'='deleteFloor(floor)') Delete

	p: a.btn.btn-default('[routerLink]'='["/AdminRouter", "Floors", "FloorAdd"]') Add
