toolbar.navbar.navbar-default.navbar-fixed-top
	.container
		.nav.navbar-nav.btn-toolbar
			admin-toolbar.btn-group

.container
	floor-item('*ngFor'='#floor of floors', '[floor]'='floor', '[adminMode]'='true')

	.btn-group
		a.btn.btn-default('[routerLink]'='["/AdminRouter", "Floors", "FloorAdd"]') Add
		a.btn.btn-default('[routerLink]'='["/AdminRouter", "Floors", "FloorCopy"]') Copy
