toolbar.navbar.navbar-default.navbar-fixed-top
	.container
		.nav.navbar-nav.btn-toolbar
			floor-toolbar
			admin-toolbar.btn-group

.container
	.map-admin-header('*ngIf'='floor') Floor {{floor.number}}
	map-canvas('*ngIf'='floor', '[floor]'='floor')
