h1 Worker Search

h3('*ngIf'='!workers') Loading...

div('*ngIf'='workers && workers.length')
	worker-item.media('*ngFor'='#worker of workers | paginate:10', '[worker]'='worker')
		.btn-group(buttons)
			a.btn.btn-danger('[routerLink]'='["/MapRouter", "WorkerLocate", { worker: worker.id }]') Locate

	pagination-controls

h4('*ngIf'='workers && !workers.length') Nothing was found for {{query}}
