toolbar.navbar.navbar-default.navbar-fixed-top
	.container
		.nav.navbar-nav.btn-toolbar
			admin-toolbar.btn-group

.container
	h3('*ngIf'='!workers') Loading...

	div('*ngIf'='workers && workers.length')
		.media('*ngFor'='#worker of workers | paginate:10')
			.media-left
				img.media-object('[src]'='worker.photo')
			.media-body
				h4.media-heading {{worker.fullName}}
				p {{worker.teamName}}
				.btn-group
					a.btn.btn-danger('(click)'='deleteWorker(worker)') Delete
		pagination-controls

	br
