toolbar.navbar.navbar-default.navbar-fixed-top
	.container
		.nav.navbar-nav.btn-toolbar
			admin-toolbar.btn-group

.container
	h3('*ngIf'='!workers') Loading...

	div('*ngIf'='workers && workers.length')
		worker-item.media('*ngFor'='#worker of workers | paginate:10', '[worker]'='worker')
			.btn-group(buttons)
				a.btn.btn-danger('(click)'='deleteWorker(worker)') Delete

		pagination-controls
	br
