h3('*ngIf'='!workers') Loading...

.container('*ngIf'='workers')
	.row
		.col-md-8('*ngIf'='!workers.length')
			h4 Nothing was found for "{{query}}"
		.col-md-8('*ngIf'='workers.length')
			worker-item.media('*ngFor'='#worker of workers | paginate:itemsPerPage', '[worker]'='worker', '[adminMode]'='adminMode', '(onItemDeleted)'='handleItemDelete($event)')
		.col-md-4
			form
				.form-grorup('*ngIf'='showQueryField')
					h4 Query:
					input.form-control('[(ngModel)]'='query', '(input)'='setQuery($event.target.value)')
				h4 Team:
				.checkbox('*ngFor'='#entry of teams')
					label
						input(type='checkbox', '[checked]'='teamFilter.has(entry[0])', '(change)'='setTeamFilter(entry[0], $event.target.checked)')
						| {{entry[1]}}
				h4 Gender:
				.checkbox('*ngFor'='#entry of genders')
					label
						input(type='checkbox', '[checked]'='genderFilter.has(entry[0])', '(change)'='setGenderFilter(entry[0], $event.target.checked)')
						| {{entry[1]}}
	.row('*ngIf'='workers.length')
		pagination-controls

