toolbar('[showQuickSearch]'='false').navbar.navbar-default.navbar-fixed-top


.container
	.row
		.col-xs-12
			form
				input(type='text', '[(ngModel)]'='query', placeholder='Search Query').form-control
	.row
		.col-xs-12
			tabs
				tab(title='Workers {{workersLength}}')
					worker-search('[query]'='query', '(results)'='workersLength = $event.length')
				tab(title='Rooms {{roomsLength}}')
					room-search('[query]'='query', '(results)'='roomsLength = $event.length')
