.container
	.navbar-header
		a.navbar-brand('[routerLink]'='["/MapRouter", "Default"]') Office Map

	ul.nav.navbar-nav
		li: a('[routerLink]'='["/AdminRouter", "Default"]') Admin
		li: a('[routerLink]'='["/MapRouter", "Default"]') Map

	.nav.navbar-nav('*ngIf'='floors')
		a.btn.btn-default.navbar-btn('*ngFor'='#floor of floors', '[routerLink]'='["./Floor", { floor: floor.number }]') {{floor.number}}

	admin-tools('*ngIf'='tools', '(type-change)'='onTypeChange($event)')


	//.btn.btn-default.navbar-btn Sign in?
	//
	//form.navbar-form.navbar-right
	//	.form-group
	//		input.form-control(placeholder='Search')
	//		button.btn.btn-default Submit
