.container
	.navbar-header
		a.navbar-brand('[routerLink]'='["/MapRouter", "Default"]') Office Map

	ul.nav.navbar-nav
		li: a('[routerLink]'='["/AdminRouter", "Default"]') Admin
		li: a('[routerLink]'='["/MapRouter", "Default"]') Map

	.nav.navbar-nav('*ngIf'='floors')
		a.btn.btn-default.navbar-btn('*ngFor'='#floor of floors', '[routerLink]'='[displayAdminTools ? "/AdminRouter" : "/MapRouter", "Floor", { floor: floor.number }]') {{floor.number}}

	worker-quick-search.navbar-right
	admin-tools('*ngIf'='displayAdminTools', '(typeChange)'='onTypeChange($event)')

	//.btn.btn-default.navbar-btn Sign in?
