.container
	.navbar-header
		a.navbar-brand(href='#/') Office Map

	ul.nav.navbar-nav
		li: a('[router-link]'='["/Admin"]') Admin
		li: a('[router-link]'='["/MapRouter", "Default"]') Map

	ul.nav.navbar-nav('*ng-if'='floors')
		li('*ng-for'='#floor of floors'): a('[router-link]'='["/MapRouter", "Floor", { floor: floor.number }]') {{floor.number}}
