.container
	.navbar-header
		a.navbar-brand('[routerLink]'='["/MapRouter", "Default"]') Office Map
		super: small: a.navbar-link('[routerLink]'='["/AdminRouter", "Default"]') admin
		| &nbsp; &nbsp; &nbsp;

	.nav.navbar-nav.btn-group('*ngIf'='floors')
		a.btn.btn-default.navbar-btn('*ngFor'='#floor of floors', '[routerLink]'='["/MapRouter", "Floor", { floor: floor.number }]') {{floor.number}}

	quick-search.navbar-right
ng-content
	//.btn.btn-default.navbar-btn Sign in?
