form('(ngSubmit)'='onSubmit()')
	.form-group('*ngIf'='!create')
		label ID:
		input.form-control(type='text', placeholder='ID', '[(ngModel)]'='room.id', readonly)
	.form-group
		label Name:
		input.form-control(type='text', placeholder='Name', '[(ngModel)]'='room.name')
	.form-group
		label Map Icon URL:
		input.form-control(type='text', placeholder='Map Icon URL', '[(ngModel)]'='room.icon')
	.form-group('*ngIf'='room.type === roomTypes.MEETING')
		label Capacity:
		input.form-control(text='number', placeholder='Room Capacity', '[(ngModel)]'='room.capacity')
	.form-group
		label Description:
		textarea.form-control(placeholder='Room Description', '[(ngModel)]'='room.description')

	button.btn.btn-default(type='submit', '[innerText]'='create ? "Add" : "Edit"')
