toolbar.navbar.navbar-default.navbar-fixed-top
	.container
		.nav.navbar-nav.btn-toolbar
			admin-toolbar.btn-group

.container
	room-form('[room]'='room', '[create]'='true', '(complete)'='onComplete($event)')

