toolbar.navbar.navbar-default.navbar-fixed-top
	.container
		.nav.navbar-nav.btn-toolbar
			admin-toolbar.btn-group

.container
	room-search('[showQueryField]'='true', '[adminMode]'='true')

	.btn-group
		a.btn.btn-default('[routerLink]'='["/AdminRouter", "Rooms", "MeetingRoomAdd"]') Add Meeting Room
		a.btn.btn-default('[routerLink]'='["/AdminRouter", "Rooms", "TeamRoomAdd"]') Add Team Room
		a.btn.btn-default('[routerLink]'='["/AdminRouter", "Rooms", "UtilityRoomAdd"]') Add Utility Room
