toolbar.navbar.navbar-default.navbar-fixed-top
	.container
		.nav.navbar-nav.btn-toolbar
			admin-toolbar.btn-group

.container
	room-search('[showQueryField]'='true', '[adminMode]'='true')
	p: a.btn.btn-default('[routerLink]'='["/AdminRouter", "Rooms", "RoomAdd"]') Add
