h1 Worker Search

h3('*ngIf'='loading') Loading...

div('*ngIf'='!loading && workers.length')
	.media('*ngFor'='#worker of workers | paginate:2')
		.media-left
			img.media-object(src='http://placehold.it/64x64')
		.media-body
			h4.media-heading {{worker.firstName}} {{worker.lastName}}
			p Really nice description. He is from {{worker.teamName}}
			a.btn.btn-danger('[routerLink]'='["/MapRouter", "WorkerLocate", { worker: worker.id }]') Locate

	pagination-controls

h4('*ngIf'='!loading && !workers.length') Nothing was found for {{query}}
